// font family
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap");
/* Set the font stack with fallback to Arial */
body {
  font-family: "Space Grotesk", Arial, sans-serif;
}

// custom search banner customizations
.custom-search-banner-wrap {
  margin: 0 auto !important;
  max-width: unset;
  color: var(--secondary);
  h1 {
    font-size: 4em;
  }
  p {
    font-size: 1.25em !important;
    font-weight: bold;
    margin-bottom: 1em;
  }
  .btn {
    height: 100%;
  }
  .search-menu input[type="text"] {
    border: 1px solid transparent;
    border-radius: 0.25em;
    min-height: 40px;
    &:focus {
      outline: 3px solid rgba(var(--primary-rgb), 0.35);
    }
  }
  .widget-link.show-help {
    color: rgba(var(--primary-rgb), 0.75);
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: rgba(var(--secondary-rgb), 0.25);
    &:hover {
      color: var(--primary);
    }
  }
  .search-menu .search-input {
    border-color: var(--tertiary-hover);
    outline: 1px solid var(--tertiary-hover);
  }
  .results {
    top: 43px;
    border-radius: 0.25em;
  }
  .search-context {
    top: 3.25em;
    right: 1em;
  }
}

.search-input {
  border-radius: 0.25em;
}

.display-search-banner {
  #main-outlet {
    padding-top: 2em;
  }
}

// Main customizations
.alert {
  margin: 1em 0;
}

.topic-list .topic-list-header .topic-list-data,
.topic-list .topic-list-item .topic-list-data {
  /* padding: 15px 5px; */
}

.navigation-topics .topic-list .topic-list-body .topic-list-data,
.navigation-topics .topic-list .topic-list-header .topic-list-data {
  flex: unset;
}

.badge-wrapper.box {
  border-radius: 0.25em;
  overflow: hidden;
}

.badge-wrapper.bullet {
  .badge-category-bg {
    border-radius: 0.125em;
  }
  .badge-category-parent-bg {
    border-top-left-radius: 0.125em;
    border-bottom-left-radius: 0.125em;
    + .badge-category-bg {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 0.125em;
      border-bottom-right-radius: 0.125em;
    }
  }
}

.discourse-tag {
  font-size: $font-down-1;
  border-radius: 0.25em;
  padding: 0.15em 0.25em 0.15em 0.35em;
  background-color: var(--primary-low);
  color: var(--primary) !important;
  &:hover {
    background-color: var(--primary-low-mid);
    color: var(--primary);
  }
}

.discourse-tags .discourse-tag.simple:not(:last-child)::after,
.list-tags .discourse-tag.simple:not(:last-child)::after,
.search-category .discourse-tag.simple:not(:last-child)::after {
  content: "";
  margin-left: unset;
}

.topic-list .link-bottom-line .discourse-tag.simple:after,
.topic-list .link-bottom-line .discourse-tag.box {
  margin-right: 0px;
}

#site-text-logo {
  color: var(--primary);
}

.mobile-view {
  .cm-header-links {
    display: none;
  }
  .list-controls .nav-pills .drop li:first-of-type {
    display: none;
  }
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.select-kit.combo-box .select-kit-header,
.d-editor-textarea-wrapper,
div.ac-wrap {
  border-radius: 4px;
}
.d-header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.d-header-icons .d-icon {
  border-radius: 100px;
}

.d-header-icons .icon {
  border-radius: 0.25em;
  margin-left: 0.3em;
  border: 1px solid transparent;
  svg {
    font-size: 1.25em;
  }
}

.d-header-icons .icon img.avatar {
  border-radius: 0.25em;
}

.menu-panel.drop-down {
  margin-top: 1em;
  border-radius: 0.5em;
  border: 1px solid var(--primary-low-mid);
}

.drop-down-mode .d-header-icons .active .icon {
  border: 1px solid transparent;
  .d-icon {
    color: var(--tertiary);
  }
}

.drop-down-mode .d-header-icons .active .icon:hover {
  border: 1px solid transparent;
}

.menu-panel .widget-link:hover,
.menu-panel .widget-link:focus,
.menu-panel .categories-link:hover,
.menu-panel .categories-link:focus {
  background-color: rgba(var(--tertiary-rgb), 0.5);
}

.btn:not(.themes-tab):not(.components-tab),
.select-kit.dropdown-select-box .dropdown-select-box-header {
  border-radius: 8px;
  border: 1px solid transparent;
}

.post-admin-menu.popup-menu {
  .btn.widget-button {
    border-radius: 0px;
  }
}

.unread-high-priority-notifications {
  background: var(--quaternary);
}

.timeline-container .topic-timeline .timeline-handle {
  background-color: var(--tertiary);
}

.timeline-container .topic-timeline .timeline-scrollarea {
  border-left-color: var(--tertiary);
}

// graceful ish style
@mixin box-shadow($value: 0px) {
  box-shadow: 0 24px 40px rgba(0, 0, 0, 0.07),
    0 10.8529px 24.1177px rgba(0, 0, 0, 0.0456112),
    0 4.50776px 10.0172px rgba(0, 0, 0, 0.035),
    0 1.63037px 3.62304px rgba(0, 0, 0, 0.0243888);
}

html {
  body {
    background: linear-gradient(
        0deg,
        rgba(var(--primary-rgb), 0.075) 0%,
        rgba(var(--primary-rgb), 0.075) 100%
      ),
      linear-gradient(0deg, var(--secondary) 100%, var(--secondary) 100%);
  }
  // .background-container {
  //     position: fixed;
  //     top: 0;
  //     left: 0;
  //     height: 100vh;
  //     width: 100vw;
  //     background: linear-gradient(
  //       90deg,
  //       var(--tertiary-hover) 0%,
  //       var(--tertiary) 100%
  //     );
  //     clip-path: ellipse(148% 70% at 91% -14%);
  //   }
}

html body #main-outlet {
  margin-top: 30px;
  margin-bottom: 50px;
  background: var(--secondary);
  border-radius: 1em;
  padding: 3em 3em 5%;
  max-width: 1150px;
  .archetype-regular & {
    min-height: 500px;
  }
  @media screen and (max-width: 700px) {
    padding: 1.5em;
    margin-top: 0;
  }
  padding-bottom: 5% !important; //overriding inline style
  @include box-shadow;
  @media screen and (max-width: 1120px) {
    width: 80%;
  }
  @media screen and (max-width: 1075px) {
    width: 85%;
  }
}

.nav-pills:not(.user-nav) > li a.active,
.nav-pills:not(.user-nav) > li > a {
  /* border-radius: 0.5em; */
}

// Topic List

@keyframes background-fade-highlight {
  0% {
    background-color: var(--highlight-low);
  }
  100% {
    background-color: var(--secondary);
  }
}

.full-width .contents .topic-list {
  border-collapse: separate;
  border-spacing: 0 0.25em;
  display: contents;
  .topic-list-header {
    tr {
      display: flex;
      /* border-bottom: none; */
    }
    display: contents;
    .topic-list-data.default {
      width: 60%;
    }
    .topic-list-data.posters {
      width: 10%;
    }
    .topic-list-data.posts {
      width: 10%;
    }
    .topic-list-data.activity {
      width: 10%;
    }
    .topic-list-data.num.views {
      width: 10%;
    }
  }
  .topic-list-body {
    display: contents;
    .topic-list-item-separator {
      width: 100%;
      margin: 0.75em 0;
      display: flex;
      .topic-list-data {
        width: 100%;
      }
    }
    .topic-list-item {
      width: 100%;
      display: flex;
      margin-bottom: 0.5em;
      background-color: var(--secondary);
      border-bottom: 1px solid rgba(var(--primary-rgb), 0.2);
      //border-radius: 1em;
      position: relative;
      transition: box-shadow 100ms ease-in-out;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
      overflow: hidden;
      &.visited {
        border-bottom: 1px solid rgba(var(--primary-rgb), 0.1);
        .discourse-tag {
          opacity: 0.75;
        }
        &:hover {
          border-bottom: 1px solid rgba(var(--primary-rgb), 0.25);
          .discourse-tag {
            opacity: 1;
          }
        }
      }
      &:hover {
        background-color: var(--secondary);
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(var(--primary-rgb), 0.3);
        a.title:not(.badge-notification),
        a.topic-excerpt {
          color: var(--primary) !important;
        }
      }
      .topic-list-data.main-link {
        width: 60%;
        /* order: 2; */
      }
      .topic-list-data.posters {
        width: 10%;
        /* order: 1; */
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        a:not(.latest) {
          /* display: none; */
        }
      }
      .topic-list-data.posts {
        width: 10%;
        /* order: 3; */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .topic-list-data.age {
        width: 10%;
        /* order: 4; */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .topic-list-data.num.views{
        width: 10%;
        /* order: 4; */
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}



.full-width .contents .topic-list .topic-list-item .posters a.latest {
  /* margin-right: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  .avatar {
    margin-right: 0;
  } */
}

.full-width .contents .topic-list {
  .topic-list-item {
    .main-link {
      min-height: 100%;
      min-height: 100%;
      .link-top-line {
        display: block;
        margin-bottom: 0.25em;
      }
      .title {
        font-weight: bold;
      }
      .link-area {
        display: flex;
        .link-title-area {
          margin-right: 1em;
          font-size: $font-up-1;
        }
        .link-meta-area {
          font-size: $font-down-3;
          display: flex;
          align-items: center;
        }
      }
    }
    .posters {
      .avatar {
        /* width: 40px;
        height: 40px;
        border-radius: 8px; */
      }
      a.latest {
        .avatar {
          /* margin-right: 0; */
        }
      }
      a:not(.latest) {
        /* margin-left: -22px;
        .avatar {
          border: 3px solid var(--secondary);
        } */
      }
    }
    .posts-map,
    .num.age.activity {
      a {
        padding: 0;
      }
    }
    .posts-map {
      position: relative;
      .number {
        margin-right: 0.25em;
      }
    }
    .post-activity {
      .d-icon-reply {
        color: var(--primary-medium);
        margin-right: 0.25em;
      }
      .relative-date {
        color: var(--primary-medium);
      }
    }
  }
}

.navigation-container {
  margin-top: 2em;
}

// published page additions
.published-page-content-wrapper {
  max-width: 1000px;
  margin-top: 30px;
  margin-bottom: 50px;
  background: var(--secondary);
  border-radius: 1em;
  padding: 3em 3em 5%;
  box-shadow: 0 24px 40px rgba(0, 0, 0, 0.07),
    0 10.8529px 24.1177px rgba(0, 0, 0, 0.0456112),
    0 4.50776px 10.0172px rgba(0, 0, 0, 0.035),
    0 1.63037px 3.62304px rgba(0, 0, 0, 0.0243888);
  z-index: 1;
  position: relative;
}

.published-page {
  .background-container {
    display: none;
  }
  &::before {
    background: linear-gradient(
      90deg,
      var(--tertiary-hover) 0%,
      var(--tertiary) 100%
    );
    clip-path: ellipse(148% 70% at 91% -14%);
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: 0;
  }
}

.quote-button {
  background-color: var(--primary-low-mid);
  border-radius: 0.5em;
}

.topic-list tr.selected td:nth-child(2),
.topic-list-item.selected td:nth-child(2),
.latest-topic-list-item.selected,
.search-results .fps-result.selected {
  box-shadow: inset 3px 0 0 var(--danger);
}

.topic-list tr.selected td:first-child,
.topic-list-item.selected td:first-child,
.latest-topic-list-item.selected,
.search-results .fps-result.selected {
  box-shadow: none;
}

.topic-list .main-link.focused + .posters {
  /* box-shadow: inset 3px 0 0 var(--tertiary); */
}

.topic-list .main-link.focused {
  box-shadow: none;
}

.ember-application {
  background-color: var(--secondary);
}




.sidebar-footer-wrapper .sidebar-footer-container {
  background: var(--secondary);
}

.sidebar-section-wrapper .sidebar-section-header-wrapper {
    align-items: flex-start;
    padding: 4px 5px;
    gap: 10px;
    border-left: 3px solid var(--secondary);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  &:hover {
    background: var(--secondary);
    border-left: 3px solid var(--tertiary-rgb);
  }
}
.nav-pills>li a.active, .nav-pills>li button.active{
    background: none;
    color: var(--primary);
    border-bottom: 2px solid var(--tertiary-hover);
    border-radius: 0px;
}
.nav-pills>li a:hover, .nav-pills>li button:hover{
    background: none;
    color: var(--primary);
    border-bottom: 2px solid var(--tertiary-hover);
    border-radius: 0px;
}
#navigation-bar{
    order: 1
}
.category-breadcrumb{
    order: 2
}
.navigation-controls{
    order: 3
}
.list-controls .combo-box .combo-box-header{
    background: var(--primary-low);
    border: none;
    text-transform: capitalize;
}
.topic-list button.bulk-select{
    display: none;
}
.alert.alert-info {
    background-color: var(--primary-low);
    color: var(--primary);
    border-radius: 8px;
    padding: 20px 24px;
}
.user-secondary-navigation .nav-stacked a.active{
    background-color: var(--primary-low);
    border-left: 2px solid var(--tertiary-hover);
}
.user-secondary-navigation .nav-stacked li:hover, .user-secondary-navigation .nav-stacked li.active{
    background-color: var(--primary-low);
    border-left: 2px solid var(--tertiary-hover);
}


// header css
.b-header {
  .contents {
    margin: 8px 0;
  }

  #brand-logo {
    max-height: 32px;
  }

  #brand-text-logo {
    line-height: 32px;
    margin: 0;
  }

  nav.links {
    float: left;
    .rtl & {
      float: right;
    }
  }

  .nav-pills {
    margin: 0;
    > li > a {
      color: var(--secondary);
      line-height: 22px;
      &:hover {
        color: var(--quaternary);
        background-color: var(--quaternary-low);
      }
      &.active > a,
      > a.active {
        color: var(--secondary);
        background-color: var(--quaternary);
      }
    }
  }

  .panel {
    float: right;
    position: relative;
    .rtl & {
      float: left;
    }
  }

  ul.icons {
    text-align: center;
    margin: 0 0 0 5px;
    > li {
      float: left;
      list-style: none;
    }
    a {
      width: 28px;
      height: 28px;
      font-size: 16px;
      line-height: 28px;
      display: inline-block;
      margin: 2px;
    }
    .rtl & {
      margin: 0 5px 0 0;
      > li {
        float: right;
      }
    }
  }

  .panel > ul.icons {
    float: right;
    a,
    .d-icon {
      color: var(--secondary);
    }
    .rtl & {
      float: left;
    }
  }

  .custom-header-links .headerLink a{
    font-size: var(--font-0);

  }
  .login-button .fa, .sign-up-button .fa {
    display: none;
  }
}
.btn-small {
  font-size: var(--font-0);
  font-weight: 600;
}

// header css
.d-header #site-logo {
  height: 3.667em;
}
.empty-state {
  padding: 0.5em 0.5em;
}

// footer 
.custom-footer {
  
  background: var(--secondary);
  .flexbox {
    color: var(--quaternary);
  }
  .footer-section-link-wrapper a {
    color: var(--primary);
  }
}


// admin setting tabs
.admin-controls .nav-pills>li a.active{
  background: none;
}
// topic map UI 


.staff {
  .topic-post:first-child {
    nav.post-controls .post-admin-menu {
      bottom: -125px;
    }
  }
}

.topic-body {
  padding: 0;
  &:first-of-type {
    border-top: none;
  }
  .reply-to-tab {
    z-index: z("base") + 1;
    color: var(--primary-med-or-secondary-med);
  }
  .actions .fade-out {
    .discourse-no-touch & {
      opacity: 0.7;
      transition: background 0.25s, opacity 0.7s ease-in-out;
    }
    .discourse-touch & {
      opacity: 1;
    }
  }
  &:hover .actions .fade-out,
  .selected .actions .fade-out {
    opacity: 1;
  }
}

section.post-menu-area {
  position: relative;
  padding-left: var(--topic-body-width-padding);
}

.post-links-container {
  margin-left: var(--topic-body-width-padding);
}

nav.post-controls {
  // for consistency, try to control spacing by editing these variables
  --control-margin: 0.33em;
  --control-icon-space: 0.33em;
  .actions {
    button {
      margin-left: var(--control-margin);
      &.create {
        margin-left: calc(var(--control-margin) * 1.52);
        .d-icon {
          margin-right: var(--control-icon-space);
        }
      }
    }
    // Some buttons can be doubled up, like likes or flags
    .double-button {
      margin-left: var(--control-margin);
      &:hover {
        button {
          background: var(--primary-low);
          color: var(--primary-medium);
        }
      }
      button {
        margin-left: 0;
        margin-right: 0;
        &.like {
          // Like button with 0 likes
          &.d-hover {
            background: var(--love-low);
            .d-icon {
              color: var(--love);
            }
          }
        }
        &.has-like {
          // Like button after I've liked
          &.d-hover {
            background: var(--primary-low);
            .d-icon {
              color: var(--primary-medium);
            }
          }
        }
        &.button-count {
          // Like count button
          &.d-hover {
            color: var(--primary);
          }
          + .toggle-like {
            // Like button when like count is present
            &.d-hover {
              background: var(--primary-low);
            }
          }
        }
      }
    }
  }
  .show-replies {
    margin-left: calc(
      var(--topic-body-width-padding) * -1
    ); // negates padding-left on .cooked, for visual alignment
    .d-icon {
      margin-right: var(--control-icon-space);
    }
  }
}

pre.codeblock-buttons {
  .copy-cmd:not(.action-complete),
  .fullscreen-cmd:not(.action-complete) {
    opacity: 0;
    transition: 0.2s;
    visibility: hidden;
  }
}

pre.codeblock-buttons:hover {
  .copy-cmd,
  .fullscreen-cmd {
    opacity: 0.7;
    visibility: visible;
    &:hover {
      opacity: 1;
    }
  }
}

.embedded-posts {
  h1,
  h2,
  h3 {
    margin: 10px 0;
  }
  border: 1px solid var(--primary-low);
  .topic-body {
    box-sizing: border-box;
    width: calc(100% - 70px); // [100% - .topic-avatar width]
    // WARNING: overflow hide is required for quoted / embedded images
    // which expect "normal" post width, but expansions are narrower
    overflow: hidden;
  } // this is covered by .topic-body .regular on a normal post
  // but no such class structure exists for an embedded, expanded post
  .cooked {
    margin-top: 15px;
  }
  .topic-avatar {
    padding-left: 25px;
    padding-top: 15px;
  }
  .collapse-down,
  .collapse-up {
    position: absolute;
    color: var(--primary-medium);
    background: var(--secondary);
    border: 1px solid var(--primary-low);
    padding: 6px 9px 8px;
    z-index: 99; // Needs to be higher than topic-avatar
    .d-icon {
      color: currentColor;
    }
    .discourse-no-touch & {
      &:hover {
        background: var(--primary-low);
        color: var(--primary-high);
        .d-icon {
          color: currentColor;
        }
      }
    }
  } // bottom means "reply expansion" below a post
  &.bottom {
    border-top: none;
    margin-bottom: 20px;
    &.hidden {
      display: block;
      opacity: 0;
    }
  }
  &.bottom {
    .collapse-up {
      transform: translate(-50%, -164%);
    }
    .row {
      padding-bottom: 0.5em;
      .topic-avatar,
      .topic-body {
        border-top: 1px solid var(--primary-low);
      }
    }
  } // top means "in reply to expansion" above a post
  &.top {
    border-bottom: none;
    .collapse-down {
      transform: translate(-50%, 55%);
    }
    margin-left: var(--topic-avatar-width);
    width: calc(
      var(--topic-body-width) + (var(--topic-body-width-padding) * 2) +
        var(--topic-avatar-width) - (var(--topic-avatar-width) + 2px)
    ); // 2px accounts for left and right borders
    .row {
      border-bottom: none;
      .topic-avatar,
      .topic-body {
        border-top: 1px solid var(--primary-low);
      }
    }
  }
  &.top.topic-body {
    padding: 0;
  }
  .post-date {
    color: var(--primary-med-or-secondary-high);
  }
  .d-icon-arrow-up,
  .d-icon-arrow-down {
    margin-left: 5px;
  }
  .reply:first-of-type .row {
    border-top: none;
  }
  .topic-meta-data {
    position: relative;
  }
  .topic-meta-data h5 {
    position: absolute;
    z-index: z("base");
    font-size: var(--font-down-1);
    a {
      font-weight: bold;
      color: var(--primary-low-mid-or-secondary-high);
    }
  }
  .arrow {
    color: var(--primary-med-or-secondary-high);
  }
}

.post-action {
  .relative-date {
    margin-left: 5px;
  }
  .avatar {
    margin-right: 2px;
  }
}

.topic-map {
  margin: 20px 0 20px var(--topic-body-width-padding);
  .map {
    .secondary {
      text-align: center;
    }
    li {
      float: left;
      padding: 7px 10px;
      &:last-of-type {
        border-right: 0;
      }
      &:nth-child(3) {
        text-align: center;
      }
    }
    .number {
      color: var(--primary-high);
    }
    .number,
    .d-icon {
      font-size: var(--font-up-2);
      line-height: var(--line-height-medium);
    }
    button .d-icon,
    button:hover .d-icon {
      color: var(--primary-high);
    }
    .avatar a {
      float: left;
    }
    .topic-map-post {
      margin-top: 6px;
    }
  }
  .avatars,
  .links,
  .information {
    padding: 7px 10px 7px 10px;
    color: var(--primary);
  }
  .buttons {
    float: right;
    .btn {
      border: 0;
      padding: 0 23px;
      color: var(--primary-med-or-secondary-high);
      background: var(--blend-primary-secondary-5);
      border-left: 1px solid var(--primary-low);
      border-top: 1px solid transparent;
      &:hover {
        color: var(--primary);
        background: var(--primary-low);
      }
      &.collapsed {
        padding-bottom: 1px;
      }
      .fa {
        margin: 0;
        font-size: var(--font-up-2);
        line-height: 52px;
      }
    }
  }

  .link-summary .btn {
    color: var(--primary-med-or-secondary-high);
    background: var(--blend-primary-secondary-5);
    width: 100%;
    &:hover {
      color: var(--primary);
      background: var(--primary-low);
    }
  }

  .toggle-summary .summarization-buttons .topic-strategy-summarization {
    margin-left: 10px;
  }
}

#topic-footer-buttons {
  max-width: calc(
    var(--topic-body-width) + (var(--topic-body-width-padding) * 2) +
      var(--topic-avatar-width)
  );

  @media screen and (max-width: 924px) {
    .topic-footer-main-buttons {
      margin-top: 1em; // some extra space for the docked progress bar
    }
  }

  .bookmark {
    .d-icon-bookmark.bookmarked {
      color: var(--tertiary);
    }
  }

  .bookmark.bookmarked .d-icon-bookmark,
  .bookmark.bookmarked .d-icon-discourse-bookmark-clock {
    color: var(--tertiary);
  }
  .feature-on-profile.featured-on-profile .d-icon-id-card {
    color: var(--tertiary);
  }
}

.suggested-topics {
  margin: 4.5em 0 1em;

  table {
    margin-top: 10px;
  }
}

span.post-count {
  background: var(--primary);
  color: var(--secondary);
  opacity: 0.8;
}

button.expand-post {
  margin-top: 10px;
  margin-left: var(--topic-body-width-padding);
}

video {
  max-height: 500px;
}

.video {
  // Height determined by aspect-ratio
  max-height: 500px;
  > video {
    max-height: unset;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn-group {
  position: relative;
}

.dropdown-toggle {
  float: left;
  position: relative;
}

.post-select {
  float: right;
  margin-right: 20px;
  margin-top: -20px;
}

.deleted-user-avatar {
  font-size: var(--font-up-6);
}

.info-line {
  margin: 10px 0;
  color: var(--primary);
}

/* solo quotes */

blockquote {
  /* leave browser defaults for top and bottom here */
  margin-left: 0;
  margin-right: 0;
  padding: 12px;
}

/* quotes with attribution */

.quote {
  & > blockquote {
    .onebox-result {
      background-color: var(--primary-very-low);
    }
  }
  aside {
    .quote,
    .title,
    blockquote,
    .onebox,
    .onebox-result {
      background: var(--primary-very-low);
      border-left: 5px solid var(--primary-low);
    }
    aside.quote > blockquote,
    aside.quote > .title {
      border-left: 0;
    }
  }
}

.topic-post-visited {
  + .topic-post {
    .topic-avatar,
    .topic-body {
      border-top: none;
    }
  }
}

// variables are used to calculate the width of .gap
.topic-body {
  width: calc(var(--topic-body-width) + (var(--topic-body-width-padding) * 2));
  float: left;
  min-width: 0; // prevents some elements, like <pre>, from blowing out the width
  position: relative;
  border-top: 1px solid var(--primary-low);
  padding: 12px 0 0 0;
  .topic-meta-data {
    padding: 0 var(--topic-body-width-padding) 0.25em
      var(--topic-body-width-padding);
  }
  .cooked {
    padding: 1em var(--topic-body-width-padding) 0.25em
      var(--topic-body-width-padding);
  }
  .group-request {
    padding: 0.5em var(--topic-body-width-padding) 0
      var(--topic-body-width-padding);
  }
  a.expand-hidden {
    padding-left: var(--topic-body-width-padding);
  }
}

.topic-avatar {
  border-top: 1px solid var(--primary-low);
  padding-top: 15px;
  width: $topic-avatar-width;
  float: left;
  z-index: z("base") + 1;
  height: 100%;
}

.gap {
  box-sizing: border-box;
}

.topic-area > .loading-container {
  // loader needs to be same width as posts
  width: calc(
    var(--topic-body-width) + var(--topic-avatar-width) +
      (var(--topic-body-width-padding) * 2)
  );
  max-width: 100%;
}

/* hide the reply border above the time gap notices */

.time-gap + .topic-post .topic-body,
.time-gap + .topic-post .topic-avatar {
  border-top: none;
}

.time-gap + .topic-post .embedded-posts.top {
  border-bottom: 1px solid var(--primary-low);
}

.posts-wrapper {
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
}

.dropdown {
  position: relative;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid var(--primary);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  margin-left: 5px;
}

.selected-posts {
  width: 200px;
  position: fixed;
  z-index: z("dropdown") + 1; // 1 higher than .select-posts
  box-shadow: var(--shadow-card);
  padding: 0.714em;
  margin-bottom: 5px;
  right: 10px;
  @include breakpoint(extra-large, min-width) {
    right: auto;
    margin-left: 330px;
    left: 50%;
  }
  button {
    width: 100%;
    margin: 4px auto;
    display: inline-block;
    text-align: left;
  }
  &.hidden {
    display: none;
  }
  .controls {
    margin-top: 10px;
  }
  p {
    font-size: var(--font-down-1);
    margin: 0 0 10px 0;
  }
  p.cancel {
    margin: 10px 0 0 0;
  }
  h3 {
    font-size: var(--font-up-4);
    color: var(--primary);
    margin-bottom: 5px;
    .d-icon {
      margin-right: 7px;
    }
  }
}

a.attachment:before {
  display: inline-block;
  margin-right: 4px;
  // ideally, the SVG used here should be in HTML and reference the SVG sprite
  content: svg-uri(
    '<svg xmlns="http://www.w3.org/2000/svg" width="14px" height="16px" viewBox="0 0 512 512" fill="#{$tertiary}"><path d="M216 0h80c13.3 0 24 10.7 24 24v168h87.7c17.8 0 26.7 21.5 14.1 34.1L269.7 378.3c-7.5 7.5-19.8 7.5-27.3 0L90.1 226.1c-12.6-12.6-3.7-34.1 14.1-34.1H192V24c0-13.3 10.7-24 24-24zm296 376v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h146.7l49 49c20.1 20.1 52.5 20.1 72.6 0l49-49H488c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"></path></svg>'
  );
  vertical-align: middle;
}

.topic-meta-data {
  align-items: center;

  .names {
    display: flex;
    align-items: center;
  }

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  .post-info {
    a {
      color: var(--primary-med-or-secondary-med);
    }

    a.wiki {
      color: var(--wiki);
    }
  }
}

.who-liked,
.who-read {
  margin-top: 20px;
  margin-bottom: 0;
  width: 100%;
  text-align: right;
}

span.highlighted {
  background-color: var(--tertiary-low);
}

.first.new-user:not(.staff) a {
  color: var(--primary-low-mid);
}

.read-state {
  position: absolute;
  // We use absolute positioning here because we want it to display in the padding
  align-self: center;
  color: var(--tertiary-medium);
  right: 0;
  font-size: 0.571em;
}

.read-state.read {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity ease-out 1s;
}

.topic-post.sticky-avatar {
  .topic-avatar {
    position: sticky;
    top: calc(var(--header-offset) - 0.25em);
    margin-bottom: 25px;
  }
}

/* Tablet (portrait) ----------- */

@media all and (max-width: 790px) {
  .topic-avatar {
    width: 45px;
  }
  .topic-post .reply-to-tab {
    right: 15%;
  }
  .topic-body {
    box-sizing: border-box;
    width: calc(100% - 47px); //100% - [width of .topic-avatar + 2px]
  }
  .embedded-posts {
    // top means "in reply to expansion" above a post
    &.top {
      width: calc(100% - 56px); // [100% - margin-left]
    }
  }
}
